/* RESET ALL CSS */

body,div,dl,dt,dd,ul,ol,li,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/* BODY & GENERAL */

body,span,td,th,p,a,table,input,option,select,textarea,button,label {
	font-family: arial,helvetica,clean,sans-serif;
	font-size: 100%;
	color: #000000;
}
body {
	font-size: 12px;
	cursor: default;
}
a, a:link, a:active, a:visited {
	color : #000099;
	cursor: pointer;
	text-decoration: none;
}
a:hover {
	color : #0000FF;
}
